<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="/css/master.css"> -->
  </head>
  <body>
      <form action="/" method="post">
        <div class="">
          <input type="text" name="task" value="" placeholder="Enter a task sucka">
        </div>
        <input type="submit" value="Send!">
      </form>

      <form action="/complete" method="post">
        {{#tasks}}
        <br>
          <button type="submit" name="done" value="{{dataValues.name}}">Completed</button>
          {{dataValues.name}}
        {{/tasks}}
      </form>

      <p>Completed</p>
      <form action="/delete" method="post">
        <button type="submit" name="delete">Delete Completed Tasks</button>
      </form>
      {{#completedTasks}}
      <br>
      {{dataValues.name}}
      {{/completedTasks}}
  </body>
</html>