<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="/css/master.css"> -->
  </head>
  <body>
      <form action="/" method="post">
        <div class="">
          <input type="text" name="task" value="" placeholder="Enter a task sucka">
        </div>
        <input type="submit" value="Send!">
        {{#tasks}}
        <br>
          <button type="submit" name="done" value="{{.}}">Completed</button>
          {{.}}
        {{/tasks}}
      </form>
      <p>Completed</p>
      {{#done}}
      <br>
      {{.}}
      {{/done}}
  </body>
</html>